{% extends "base_generic.html" %}

{% block content %}
    <h1>Borrowed tables</h1>

    {% if tableinstance_list %}
    <ul>

      {% for tablinst in tableinstance_list %} 
      <li class="{% if tableinst.is_overdue %}text-danger{% endif %}">
        <a href="{% url 'table-detail' tableinst.table.pk %}">{{tableinst.table.number}}</a> ({{ tableinst.due_back }})        
      </li>
      {% endfor %}
    </ul>

    {% else %}
      <p>There are no tables borrowed.</p>
    {% endif %}       
{% endblock %}
